body{
		font-family: Consolas;
		background: black;
		color: white;
}

.identific{
		color: #00FFFF;
		font-weight: bold;
}

.pointing{
		color: #00FFFF;
}

.command{
		color: red;
		font-weight: bold;
}
.comment
	{
		color: gray;
		font-style: italic;
	}
.number{
		color: #D517F2;
}
.archive{
		color: #F6D500;
}